@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    color: #000;
    font-weight: 300;
}

h1 {
    font-size: 45px;
    line-height: 61px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

p, li, blockquote, label {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    color: #808080;
    margin-bottom: 0;
}

cite {
    font-size: 14px;
    font-style: normal;
}

.fixed-top {
    max-height: 100vh;
    overflow: auto;
}

.responsive-bootstrap-toolkit{
    background-color: #1E1E1E;
    color: #1E1E1E;
    height: 0px !important;
}

.navbar { 
    -webkit-transition:padding 0.2s ease;
    -moz-transition:padding 0.2s ease; 
    -o-transition:padding 0.2s ease;        
    transition:padding 0.2s ease;  
}

.affix {
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;  
    -o-transition:padding 0.2s linear;         
    transition:padding 0.2s linear;  
}

.mt-6 {
    margin-top: 4rem !important;
}

.text-right {
    text-align: right !important;
}

#maps-kabko{
    height: 100%;
    border-radius: 20px;
    width: 100%;
}

.container-fluid .container-nav{
    padding-left: 20%;
}

.container-custom{
    max-width: 1250px;
    margin: 0 auto;
}

.container-header{
    max-width: 636px;
}

.corona-text-header{
    color: #facf25;
}

.corona-text{
    color: #D62522;
}

.icon-wrapper{
    width: 5%;
}

.icon-wrapper-2{
    width: 10%;
}

.text-wrapper{
    width: 90%;
}

.text-download{
    font-size: 18px !important;
}

.text-karla{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
}

.text-thanks{
    background-color: #FE0000;
    color: #fff;
    font-style: italic;
    padding: 4px 50px 4px 50px;
}

.text-quotes {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: normal;
    color: #000;
    padding: 10px 20px 10px 40px;
    font-size: 30px;
    line-height: 40px;
}

.btn-search{
    font-family: 'Rubik', sans-serif;
    height: 59px;
    width: 131px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.btn-nav-danger{
    font-family: 'Rubik', sans-serif;
    border-radius: 8px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 0px 5px 0px 5px;
    border: 2px solid #D62522;
    background-color: #fff;
}

.btn-nav-danger.active{
    background-color: #D62522;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}

.filter-rs{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000;
}

.filter-rs.aktif{
    color: #FFA51F;
    text-decoration: underline;
    line-height: 24px;
}

.text-detail{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.text-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.text-info-rs{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
}

.table-kabkot{
	max-height: 500px;
	overflow: auto;
}

.ml-6{
    margin-left: 2rem !important;
}

.font-11{
    font-size: 11px !important;
}

.font-12{
    font-size: 12px !important;
}

.font-13{
    font-size: 13px !important;
}

.font-14{
    font-size: 14px !important;
}

.font-15{
    font-size: 15px !important;
}

.font-16{
    font-size: 16px !important;
}

.font-17{
    font-size: 17px !important;
}

.font-18{
    font-size: 18px !important;
}

.font-19{
    font-size: 19px !important;
}

.font-20{
    font-size: 20px !important;
}

.font-25{
    font-size: 25px !important;
}

.font-30{
    font-size: 30px !important;
}

.fa-whatsapp:before {
    content: "\f232";
}

.fc-green{
    color: #27AE60;
}

.fc-orange{
    color: #FFA51F;
}

.fc-red{
    color: #f82649;
}

.fc-ungu{
    color: #8E2DDB;
}

.bg-ungu{
    background-color: #8E2DDB;
}

.bg-kuning{
    background-color: #FFA51F;
}

.text-black{
    color: #333333 !important;
}

.font-status{
    padding-top: 20px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #333333;
}

.font-website{
    font-size: 11px;
}

.font-rs{
    font-size: 13px;
}

.font-counter{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.font-counter-2{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.font-waspada{
    font-size: 13px;
}

.font-kasus{
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #333333 !important;
}

.border-red{
    border: 1px solid #F92925 !important;
}

.border-green{
    border: 1px solid #27AE60 !important;
}

.border-ungu{
    border: 1px solid #8E2DDB !important;
}

.border-oren{
    border: 1px solid #FFA51F !important;
}

.warning1 {
    border-radius: 8px;
    min-width: 80px;
    height: 30px;
    color: #fff;
    border-color: transparent;
}
.warning1:hover {
    color: #f89406;
    background-color: #fff;
}

.radius.aktif{
    background-color: #fff !important;
    color: #f89406 !important;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    font-weight: bold;
}

.list-kasus-rs li {
    font-size: 16px;
}

.list-group-last{
    padding: 0rem 1.25rem !important;
}

.list-header-default{
    padding: .5rem .2rem;
    background: #fff;
    border-radius: 0px;
}

.list-download{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 5px solid #F2C94C;
	border-radius: 2px;
	margin-bottom: 20px;
}

.list-kasus li:first-child{
    border-right: 1px solid #BDBDBD;
}
.list-kasus li:nth-of-type(2){
    border-right: 1px solid #BDBDBD;
}
.list-kasus-odp li:first-child{
    border-right: 1px solid #BDBDBD;
}

.list-header-green{
    padding: .5rem .5rem;
    background: #D4F6E2;
    border-radius: 10px 10px 0px 0px;
    border-color: #fff !important;
}

.list-header-orange{
    padding: .5rem .5rem;
    background: #FFF8E3;
    border-radius: 10px 10px 0px 0px;
    border-color: #fff !important;
}

.list-header-ungu{
    padding: .5rem .5rem;
    background: #ECDDFE;
    border-color: #fff !important;
    border-radius: 10px 10px 0px 0px;
}

.list-header-oren{
    padding: .5rem .5rem;
    background: #FFF8E3;
    border-radius: 10px 10px 0px 0px;
    border-color: #fff !important;
}

.list-header-white{
    padding: .5rem .5rem;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #BDBDBD;
}

.list-header-red{
    padding: .5rem .5rem;
    background: #FADFDF;
    border-radius: 10px 10px 0px 0px;
    border-color: #fff !important;
}

.list-link {
    background-color: #F6F6F6;
    border-radius: 4px;
}

.play-list {
    border: none !important;
    padding: .5rem 1.25rem;
    background-color: rgba(0,0,0,.125);
    margin-bottom: 10px;
    border-radius: 4px !important;
}

.play-list:hover{
    background-color: #FADFDF;
    color: #D62522;
}

.play-list p {
    width: 98%;
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
}

.play-list.play{
    background-color: #FADFDF;
    color: #D62522;
}

.play-list i{
    margin-top: 2px;
    font-size: 18px;
    padding-left: 5px;
}

.list-video{
    max-height: 50vh !important;
    overflow-y: auto;
    margin-right: 2rem;
    padding-right: 10px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-left-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}

.card-mobile-1,.card-mobile-2,.card-mobile-3,.card-mobile-4{
    border: 0px solid transparent !important;
    border-radius: .5rem !important;
}

.card-custom {
    border: 0px solid transparent !important;
    border-radius: .5rem !important;
}

.card-extend{
    border: 0px solid transparent !important;
    border-radius: .5rem !important;
}

.card-custom-rs {
    border: 0px solid transparent !important;
    border-radius: 0rem !important;
}

.card-custom-rs-near {
    border-radius: .5rem !important;
    padding: 1.5rem;
}

.card-custom-rs-near > .list-group .list-group-item {
    border: 0px solid transparent !important;
    padding: .2rem 1.25rem;
}

.card-custom-rs-list {
    border-radius: .5rem !important;
    padding: .5rem;
}

.card-custom-rs-list > .list-group .list-group-item {
    border: 0px solid transparent !important;
    padding: .2rem 1.25rem;
}

.card-custom-rs > .list-group .list-group-item {
    border: 0px solid transparent !important;
    padding: .2rem 1.25rem;
}

.nav-tabs {
    border-bottom: 1px solid #fff !important;
}

.tab-content{
    border-radius: 0px 10px 10px 10px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 192px;
    height: 48px;
    background-color: #F6F6F6;
}

.tab-maps.active {
    color: #D62522 !important;
}

.font-hotline{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.btn-hotline{
    height: 59px;
    border-radius: 8px;
    border: 1px solid #D62522 !important;
}

.link-nasional{
    text-align: left;
    padding-left: 50px;
}

.link-nasional h3{
    padding-left: 20px;
}

li.get-lokasi{
    color: #000 !important;
}

.find-rs {
    background: #F6F6F6;
    height: 59px;
    border: 1px solid #E0E0E0;
}

.lora {
    font-family: "Lora", serif;
    font-style: italic;
}

.form-control::-webkit-input-placeholder {
    color: #808080;
    line-height: 25px;
    font-size: 16px;
}

.card-hotline{
    max-height: 396px;
    min-height: 396px;
}

.card-download{
    background-color: #fff;
    border-left: 5px solid #F2C94C;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.slide-gambar .carousel .carousel-control-prev,.slide-gambar  .carousel .carousel-control-next  { 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.slide-gambar .carousel:hover .carousel-control-next,.slide-gambar .carousel:hover  .carousel-control-prev { 
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.carousel-parent {
    min-height: 396px;
}

.carousel-inner{
    background-color: #F8EAE9;
}

.carousel-item img {
    display: block;
    margin: auto;
    width: 60%;
	max-height: 396px;
}

.slide-video.carousel-indicators{
    bottom: -40px;
}

.carousel-indicators li {
    border-radius: 8px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    border-radius: 50%;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: #e74c3c; 
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c0392b;
}

.carousel-control-prev-icon {
    display: none;
}

.carousel-control-next-icon{
    display: none;
}

.icon-slide{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5) !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background-color: #f82649;
}

.owl-carousel{
    position: relative;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.bg-black{
    background-color: #1E1E1E;
}

.video {
    width: 100%;
}

.video img {
    width: 100%;
    border-radius: 8px;
}

.video .video-button {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.video .video-box a {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video .video-box a iframe {
    width: 90%;
    height: 90%;
}

.video .video-box a i {
    height: 80px;
    width: 80px;
    font-size: 40px;
    background: #D62255;
    border-radius: 100%;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.wrapper{
    width:90%;
    margin-left: 20px;
    margin-right: 20px;
}

.embed-responsive.youtube {
    position: relative;
    display: block;
    width: 90%;
    padding: 0;
    overflow: hidden;
    margin-left: 8%;
	max-height: 50vh !important;
}

.panel-heading {
    padding: 0;
    border:0;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
}
.panel-heading.active{
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom: 0px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}

.panel-body{
    background: #FFFFFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-right: 45px;
    padding-left: 20px;
    padding-bottom: 27px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}
.panel-title>a, .panel-title>a:active{
    display:block;
    padding:20px;
    color:#555;
    font-size:16px;
    font-weight:bold;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
}
.panel-heading  a:before {
    font-family: "FontAwesome";
    content: "\f077";
    float: right;
    transition: all 0.5s;
    color: #D62522;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-collapse{
    margin-top: -10px !important;
}

.shadow {
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
}

.shadow-1{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.overlay:before {
    content: '';
    background: rgba(105, 140, 230, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a {
    font-size: inherit;
    color: inherit;
}

a:focus, a:hover {
    color: #2e7eed;
    text-decoration: none;
}

.bg-gray {
    background: #fafafa;
}

.bg-blue {
    background: #2e7eed;
}

.bg-pink{
    background-color: #F8EAE9;
}

.bg-red-section {
    background: linear-gradient(329.07deg, #D62255 0%, #FF4D4A 100%);
    box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.bg-1 {
    background: url(../images/background/promo-video-back.html) fixed no-repeat;
    background-size: cover;
}


.berita article.featured {
    display: flex;
}

.berita article.featured .image {
    flex-basis: 40%;
    padding: 0px 20px 10px 10px;
    text-align: center;
}

.berita article.featured .image img {
    width: 100%;
    border-radius: 8px;
}

.berita article.featured .content {
    margin-left: 20px;
    flex-basis: 100%;
    align-self: auto;
}

.berita article.featured .content h2 {
    margin-bottom: 10px;
    line-height: 20px !important;
}

.berita article.featured .content h2 a {
    color: #FF4D4A;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    vertical-align: top;
}

.berita article.featured .content h2 a:hover {
    color: #2e7eed;
}

.berita article.featured .content p {
    margin-bottom: 25px;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.baca-berita .single-post {
    padding-bottom: 30px;
}

.baca-berita .single-post .post-body .feature-image {
    margin-bottom: 30px;
}

.baca-berita .single-post .post-body .feature-image img {
    width: 100%;
}

.baca-berita .single-post .post-body p {
    margin-bottom: 20px;
}

.baca-berita .single-post .post-body .quote {
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
}

.baca-berita .single-post .post-body .quote blockquote {
    color: #000;
    padding: 10px 0 10px 30px;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    border-left: 6px solid #666666;
}

.baca-berita .single-post .post-body .post-image {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.baca-berita .about-author h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    font-size: 30px;
}

.baca-berita .about-author .media .image img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.baca-berita .about-author .media .media-body {
    margin-left: 40px;
}

.baca-berita .about-author .media .media-body p {
    margin-bottom: 15px;
}


.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #dc3545;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text-scroll {
  display: block;
  margin-top: 75px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #dc3545;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(248, 38, 73, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(248, 38, 73, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#list_covid li{
    display: none;
}

#list_dead li{
    display: none;
}

#list_sehat li{
    display: none;
}

